$navbar-default-bg: #eee;

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  color: #484848 !important;
}

h1 {
  font-weight: 300;
  font-size: 45px;
  line-height: 56px;
  letter-spacing: -0.8px;
}

.home_hero {
  padding: 2em 0;
}

.brand_text {
  font-weight: 500;
  color: #ED4378;
}

.navbar-default {
  background-color: transparent;
  border-color: transparent;
}

.navbar-brand {
  font-weight: 600;
  color: #ED4378 !important;
}

.menu_link {
  font-weight: 500;
}

.card_container {
  text-align: center;
  border: 1px solid #eee;
}
